<!DOCTYPE html>
<html ng-app='IG'>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>InterviewGully</title>
    <script src="Scripts/Vendor/angular.js" type="text/javascript"></script>
    <script src="Scripts/app.js" type="text/javascript"></script>
    <script src="Scripts/Vendor/angular-route.js" type="text/javascript"></script>
    <script src="Scripts/Vendor/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
    <script src="Scripts/Controllers/indexController.js" type="text/javascript"></script>
    <script src="Scripts/Controllers/jobsController.js" type="text/javascript"></script>
    <script src="Scripts/Controllers/trainingController.js" type="text/javascript"></script>
    <script src="Scripts/Controllers/welcomeController.js" type="text/javascript"></script>
    <link href="Content/Styles/Site.css" rel="stylesheet">
    <link href="Content/Styles/bootstrap.css" rel="stylesheet">
    <script src="Scripts/Services/FirstService.js" type="text/javascript"></script>
    <script src="Scripts/Configs/Enum.js" type="text/javascript"></script>
    <script src="Scripts/Controllers/lendingController.js" type="text/javascript"></script>
    <script src="Scripts/Directives/ValidationDirectives.js" type="text/javascript"></script>

</head>

<body ng-controller="MainCtrl">

<section class="featured">
    <div class="content-wrapper">
        <div style="float:left;color:white;width:45%;padding-left: 200px;">
            <h1 style="cursor: pointer;" ng-click="SetRedirect('Home')">InterviewGully</h1>
            A smarter way to study
        </div>
        <div>
            <table cellspacing="0"><tbody>
            <tr>
                <td ><label >UserName</label></td>
                <td ><label >Password</label></td>
            </tr>
            <tr>
                <td><input type="text" name="email" id="email" value="" tabindex="1"></td>
                <td><input type="password" name="pass" id="pass" tabindex="2"></td>
                <td><label id="loginbutton"><input value="Log In" tabindex="4" type="submit" style="background-color: #f6e312;"></label></td>
            </tr>
            <tr>
                <td><div><div><input id="persist_box" type="checkbox" name="persistent" value="1" tabindex="3">&nbsp;&nbsp;<label style="color: #98a9ca;">Keep me logged in</label></div><input type="hidden" name="default_persistent" value="0"></div></td>
                <td><label style="color: #98a9ca;">Forgot your password?</label></td>
            </tr></tbody></table>
        </div>

    </div>
</section>
<div style="height:10px;"></div>
<div style="width: 15%;float: left;">&nbsp;</div>
<div style="width: 70%;float: left;"><ng-view></ng-view></div>
<div style="width: 15%;float: left;">&nbsp;</div>


<footer>
    <a ng-click="SetRedirect('Home')">Home</a>  ~  <a ng-click="SetRedirect('AboutUs')">About Us</a>  ~  <a ng-click="SetRedirect('Training')">Volunteer</a>  ~  <a ng-click="SetRedirect('DiscussionForum')">Discussion Forum</a>  ~  <a ng-click="SetRedirect('JobPortal')">Job Portal</a>  ~  <a ng-click="SetRedirect('OTP')">Online Test Programme</a>  ~  <a ng-click="SetRedirect('Training')">Training Courses</a>  ~  <a ng-click="SetRedirect('GetCertification')">Get Certification</a>  ~  <a ng-click="SetRedirect('ResumeBuilder')">Resume Builder</a>  ~  <a ng-click="SetRedirect('TutorialsLibrary')">Tutorials Library</a>  ~  <a ng-click="SetRedirect('ContactUs')">Contact Us</a>
</footer>
</body>
</html>

