slider {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 60%;
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}
slider span {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}
slider span.base {
  width: 60%;
  height: 100%;
  padding: 0;
}
slider span.bar {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9DFDF), color-stop(1, #E9DFDF));
  background: -webkit-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: -moz-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: -o-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: -ms-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
slider span.bar.selection {
  width: 0%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9DFDF), color-stop(1, #E9DFDF));
  background: -webkit-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: -moz-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: -o-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: -ms-linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  background: linear-gradient(top, #E9DFDF 0, #E9DFDF 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
slider span.pointer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -8px;
  background-color: #F3D917;
  border: 1px solid #F7F0F0;
  z-index: 2;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
}
slider span.pointer:after {
  content: '';
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
}
slider span.pointer:hover:after {
  background-color: #fff;
}
slider span.pointer.active:after {
  background-color: #fff;
}
slider span.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
slider span.bubble.selection {
  top: 15px;
}
slider span.bubble.limit {
  color: #808080;
}