
select.ng-dirty.ng-valid {
	border-color: #8A8A8A !important;
}
input[type="submit"]:focus, .button:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 3px 1px #0082C9;
	-moz-box-shadow: 0px 0px 3px 1px #0082C9;
	-ms-box-shadow: 0px 0px 3px 1px #0082C9;
	-o-box-shadow: 0px 0px 3px 1px #0082C9;
	box-shadow: 0px 0px 3px 1px #0082C9;
}

/*
 ::-ms-clear {
 display: none;
 }*/
input[type="radio"], input[type="checkbox"] {
	border: 0px !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="search"] {
	border: 1px #8A8A8A solid;
	height: 25px;
	width: 180px; /*font-size: 14;*/
	font-size: 12.04px;
	color: rgb(102, 102, 102);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0px;
}

select {
	border: 1px #8A8A8A solid;
	height: 25px;
	width: 180px; /*font-size: 14;*/
	font-size: 12.04px;
	color: rgb(102, 102, 102);
	padding-left: 5px;
}

option {
	padding-right: 5px;
}

.lnkButton {
	font-family: Arial;
	font-size: 12.04px;
	cursor: pointer;
	font-weight: normal;
	color: #326ED3;
}
.lnkButton:hover {
	text-decoration: underline;
}

.darkHeaderColor {
	background-color: #666666;
}

label {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
	font-family: Arial; /*font-size: 14px;*/
	font-size: 12.04px;
	color: #666666;
	padding-right: 3px;
}

.button {
	white-space: normal; /*font-size: 12.5px;*/
	font-size: 10.75px;
	color: White;
	text-decoration: none;
	border: 0px;
	text-align: center;
	margin-top: 0px;
	background-color: Transparent;
	background: url('../assets/images/gradientButton.png');
	cursor: pointer;
	border-radius: 5px 5px;
	padding: 4px 4px 4px 4px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.btn-success {
	display: none;
}

.btn-info {
	background-color: Transparent;
	background: url('../assets/images/gradientButton.png');
	color: #FFFFFF;
}
.linkButton {
	color: rgb(0,130,201);
}

.linkButton:hover {
	text-decoration: underline;
}
.validationWindow {
	position: absolute;
	z-index: 100;
	margin-top: -30px;
	margin-left: 190px;
	min-width: 100px;
	max-width: 250px;
	padding: 10px;
	background: #fefefe;
	font-size: smaller;
	border-radius: 7px;
	box-shadow: 0 5px 3px rgba(150, 4, 1, 0.36);
	border: 1px solid #CB2E2E;
	opacity: 0.9;
	color: #ffffff;
	background-color: #CB2E2E;
}

.validationWindow::before {
	content: "\25C0";
	position: absolute;
	top: 10px;
	left: -12px;
	font-size: 16px;
	line-height: 16px;
	color: #CB2E2E;
	text-shadow: none;
}

.invalid {
	border-color: #CB2E2E;
}
/*.ng-invalid {
 border-color: #CB2E2E;
 }*/

/* Help should show and be red when invalid */
.ng-invalid + .validationWindow {
	display: block;
	border-color: #CB2E2E;
}
.ng-invalid + .validationWindow::before {
	color: #CB2E2E;
}

/* Immediate help should be red when pristine */
.immediate-help.ng-pristine:focus + .validationWindow {
	border-color: #ec3f41;
}
.immediate-help.ng-pristine:focus + .validationWindow::before {
	color: #ec3f41;
}

.requirdMark {
	color: red;
	vertical-align: top;
}

/***********for validation*****************/

/* Show green border when stuff has been typed in, and its valid */
.ng-dirty.ng-valid {
	/*border-color: #3a7d34;*/ /*#D8D4D4*/
}

/* Show red border when stuff has been typed in, but its invalid */
.ng-dirty.ng-invalid {
	border-color: #ec3f41;
}
.roundedNA input[type="checkbox"]:checked + label:after {
	opacity: 1;
	background-color: #0095D4;
}

.roundedOne {
	border-radius: 50px 50px 50px 50px;
	height: 14px;
	margin: 5px auto;
	position: relative;
	width: 14px;
	background-color: #DED8CE;
	float: left;
}
.roundedOne label {
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	height: 10px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 10px;
	background-color: #DED8CE;
}
.roundedOne label:after {
	border-radius: 50px 50px 50px 50px;
	content: "";
	height: 5px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	width: 5px;
}
.roundedOne label:hover:after {
	opacity: 0.8;
}
.roundedOne input[type="checkbox"]:checked + label:after {
	opacity: 1;
	background-color: #0095D4;
}

.roundedTwo {
	border-radius: 50px 50px 50px 50px;
	height: 14px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 14px;
	background-color: #DED8CE;
	float: left;
}
.roundedTwo label {
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	height: 10px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 10px;
	background-color: #DED8CE;
}
.roundedTwo label:after {
	border-radius: 50px 50px 50px 50px;
	content: "";
	height: 5px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	width: 5px;
}
.roundedTwo label:hover:after {
	opacity: 0.8;
}
.roundedTwo input[type="checkbox"]:checked + label:after {
	opacity: 1;
	background-color: #0095D4;
}

.roundedThree {
	border-radius: 50px 50px 50px 50px;
	height: 14px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 14px;
	background-color: #DED8CE;
	float: left;
}
.roundedThree label {
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	height: 10px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 10px;
	background-color: #DED8CE;
}
.roundedThree label:after {
	border-radius: 50px 50px 50px 50px;
	content: "";
	height: 5px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	width: 5px;
}
.roundedThree label:hover:after {
	opacity: 0.8;
}
.roundedThree input[type="checkbox"]:checked + label:after {
	opacity: 1;
	background-color: #0095D4;
}

.roundedFour {
	border-radius: 50px 50px 50px 50px;
	height: 14px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 14px;
	background-color: #DED8CE;
	float: left;
}
.roundedFour label {
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	height: 10px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 10px;
	background-color: #DED8CE;
}
.roundedFour label:after {
	border-radius: 50px 50px 50px 50px;
	content: "";
	height: 5px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	width: 5px;
}
.roundedFour label:hover:after {
	opacity: 0.8;
}
.roundedFour input[type="checkbox"]:checked + label:after {
	opacity: 1;
	background-color: #0095D4;
}

.roundedFive {
	border-radius: 50px 50px 50px 50px;
	height: 14px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 14px;
	background-color: #DED8CE;
	float: left;
}
.roundedFive label {
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	height: 10px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 10px;
	background-color: #DED8CE;
}

.updateRadioboxColor {
	background-color: #0095D4 !important;
	border-color: #0095D4 !important;
}

.updateRadioboxColor_lable {
	background-color: #0095D4 !important;
}

.rdVOD {
	width: 10px;
}
/*
 a.btn-cta, a.profile-btn-cta { display:block; float:left; clear:both; padding:0 25px 0 0; font-weight:normal; line-height:30px; text-decoration:none; background:url(../assets/images/btn-cta-orangeright.png) no-repeat right top; }
 a.btn-cta input, a.profile-btn-cta input { padding:0 0 0 17px; display: block; color:#FFF; text-decoration:none; background: url(../assets/images/btn-cta-orangeleft.png) no-repeat left top; font-size:14px; cursor: pointer; float:left; line-height:30px; height:30px; }
 a.btn-cta:hover, a.profile-btn-cta:hover { background-position:right -30px; text-decoration:none !important; }
 a.btn-cta:hover input, a.profile-btn-cta:hover input { background-position:left -30px; text-decoration:none !important; }
 a.btn-cta-sm { padding:0 25px 0 0; display:block; font-weight:normal; text-decoration:none; background:url(../assets/images/btn-cta-orangeright-sm.png) no-repeat right top; line-height:23px; float:left; }
 a.btn-cta-sm input { padding:0 0 0 17px; display: block; color:#FFF; text-decoration:none; background: url(../assets/images/btn-cta-orangeleft-sm.png) no-repeat left top; font-size:12px; cursor: pointer; float:left; line-height:23px; text-decoration:none!important; }
 a.btn-cta-sm:hover { background-position:right -23px; text-decoration:none!important; }
 a.btn-cta-sm:hover input { background-position:left -23px; text-decoration:none!important; }
 a.btn-close-overlay, a.profile-btn-close-overlay { display:block; width:23px; height:50px; position:absolute; top:25px; right:-23px; background:url(/etc/designs/sapcom/resources/www_sap_com/global/ui/images/ux/btn-close-overlay.png) top left no-repeat;  }
 */

/* home page css */
.homeLinks {
	font-family: Arial;
	font-weight: bold;
	font-size: 21.5px;
	color: rgb(253, 174 , 52);
	cursor: pointer;
}
.homeLinks:hover {
	color: rgb(253, 174 , 52);
}
.homeLinksContent {
	font-family: Arial;
	font-size: 16.34px;
}

.resourcesCustomgreybox {
	color: #f6a800;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
}
.Resourceslinks {
	font-family: Arial;
	font-size: 12.04px;
	color: #0082C9;
	color: rgb(0, 130, 201);
}

.carouselBoxIndustryHeading {
	font-family: Arial;
	font-weight: bold; /*font-size: 50px;*/
	font-size: 19px;
	color: #000000;
}

.carouselBoxSubIndustryHeading {
	font-family: Arial;
	font-weight: bold; /*font-size: 50px;*/
	font-size: 12.9px;
	color: #000000;
}

.carouselBoxSurveyCatalogHeading {
	font-family: Arial;
	font-weight: bold; /*font-size: 50px;*/
	font-size: 21.5px;
	color: #fff;
}

.resourcesHeaderTab {
	background-color: #fff;
	color: #000000;
	font-family: Arial;
	font-weight: bold;
	font-size: 14.19px;
	cursor: pointer;
}

.resourcesHeaderActiveTab {
	background: transparent url(../assets/images/CheckSurveyBlueBackground.png) no-repeat;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 14.19px;
	cursor: pointer;
}

/*Added by Prithipal */

#menuProject {
	margin: 0;
	list-style: none;
	font-family: Arial;
	font-weight: bold;
	font-size: 14.19px;
	height: 35.1px;
	padding-right: 3px;
	width: 100%;
	background-color: #ffffff;
	background-image: linear-gradient(#ffffff, #ffffff);
}
*, *:after, *:before {
	zoom: 1;
}

#menuProject li {
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menuProject a {
	float: left;
	height: 25px;
	padding: 6px 25px;
	color: #000000;
	font: bold 14px/25px Arial, Helvetica;
	text-decoration: none;
}

#menuProject li:hover > a {
	color: #000000;
}

#menuProject li:hover > ul {
	display: block;
}

/* Sub-menuProject */
#menuProject ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 99999;
	background-color: #ffffff;
	background-image: linear-gradient(#ffffff, #ffffff);
}

#menuProject ul li {
	float: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 230px;
	height: 35px;
}

#menuProject ul li:last-child {
	box-shadow: none;
}

#menuProject ul a {
	padding: 10px;
	height: auto;
	line-height: 1;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
	color: #A4A4A4;
}

#menuProject ul a:hover {
	background-color: #0186ba;
	background-image: linear-gradient(#04acec, #0186ba);
	color: #fff;
}

#menuProject ul li:hover {
	background: #01ace8; /* Old browsers */
	background: -moz-linear-gradient(top,  #01ace8 0%, #0067a9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01ace8), color-stop(100%,#0067a9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #01ace8 0%,#0067a9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #01ace8 0%,#0067a9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #01ace8 0%,#0067a9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #01ace8 0%,#0067a9 100%); /* W3C */
	color: white;
}

#menuProject ul li:first-child a:after {
	content: '';
	position: absolute;
	left: 125px;
	top: -15px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid #FFF;
}

#menuProject ul li:first-child a:hover:after {
	border-bottom-color: #04acec;
}

/* Clear floated elements */
#menuProject:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.sub {
	background: #fff;
	position: absolute;
	z-index: 2;
	width: 200px;
	padding: 40px 0 3px;
	border-radius: 3px;
	box-shadow: 0 2px 4px #ddd;
	border: 1px solid #ddd;
	display: none;
}

.commonGrayText {
	font-family: Arial;
	font-size: 12.04px;
	color: #666666;
	color: rgb(102, 102, 102);
}

/* Login popup style starts here*/

.loginPopup {
	background: #EDEBE9;
	border-radius: 0px;
	box-shadow: none;
	padding: 13px;
}
.loginHeading {
	white-space: nowrap;
	padding-right: 20px;
}
.loginLinkContainer {
	float: left;
	font-size: 10px;
	color: #0082C9;
	padding-top: 7px;
}
.loginLinkContainer a {
	font-size: 10.75px;
	color: #0082C9;
}
.forgotPasswordLinkContainer {
	float: left;
	font-size: 10px;
	color: #0082C9;
	padding-top: 4px;
}
.forgotPasswordLinkContainer a {
	font-size: 10.75px;
	color: #0082C9;
}
.forgotLabel {
	padding-right: 10px;
}
.loginPopup input[type="text"], .loginPopup input[type="password"] {
	float: right;
	height: 28px;
	min-width: 133px;
	width: auto;
	border: 1px #D8D4D4 solid;
	margin-left: 3px;
	margin-bottom: 2px;
}
.forgotPasswordContainer input[type="text"] {
	width: 160px;
}
.loginPopup td {
	vertical-align: middle;
}
.loginPopup label {
	font-size: 14px;
}
.loginButtonContainer {
	width: 100%;
	padding-top: 8px;
	margin-bottom: 27px;
}
.loginHeaderContainer {
	font-size: 16.3px;
	margin-bottom: 7px;
}
.loginHelpQuestionMark {
	float: right;
}
.loginHelpQuestionMark img {
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	width: 18px;
	height: 18px;
}

.loginContainer {
	float: right;
	position: absolute;
	z-index: 1000;
}
.forgotPasswordContainer {
	float: right;
	z-index: 900;
	position: relative;
}

.loginWrapper {
	top: 54px;
	/*position: absolute;*/
	height: auto;
	z-index: auto;
	overflow: hidden;
}

.loginButton {
	padding-left: 10px;
	padding-right: 10px;
	min-width: 80px;
	margin-left: 20px;
	width: auto;
	float: right;
}
.loginPopup input[type="submit"]:focus, .loginPopup input[type="submit"]:hover {
	outline: none !important;
}
/* Login popup style ends here*/
/* Forget page style starts here*/

/* Styling  progress bar */

.progress-bar {
	background-color: #1a1a1a;
	height: 25px;
	padding: 5px;
	width: 350px;
	margin: 10px 10px;
	border-radius: 5px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
	display: inline-block;
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	transition: width .4s ease-in-out;
}
.orange span {
	background-color: #fecf23;
	background-image: linear-gradient(top, #fecf23, #fd9215);
}
.stripes span {
	background-size: 30px 30px;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	transparent 75%, transparent);
	animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
.waitWindowText {
	position: fixed;
	top: 50%;
	bottom: 0px;
	left: 50%;
	right: 0px;
	text-align: center;
	width: 300px;
	height: 110px;
	vertical-align: middle;
	filter: alpha(opacity=100);
	opacity: 1.0;
	z-index: 2001;
	border-radius: 10px;
	margin-top: -55px;
	margin-left: -150px;
	box-shadow: 0px 0px 5px 2px #666;
}

.fileContainer {
	overflow: hidden;
	position: relative;
}

.fileContainer [type=file] {
	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
	white-space: normal; /*font-size: 12.5px;*/
	font-size: 10.75px;
	color: White;
	text-decoration: none;
	border: 0px;
	text-align: center;
	margin-top: 0px;
	background-color: Transparent;
	background: url('../assets/images/gradientButton.png');
	cursor: pointer;
	border-radius: 5px 5px;
	padding: 4px 4px 4px 4px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.fileContainer [type=file] {
	cursor: pointer;
}

