<div>
    <div class="modal-header">
        <h3>Enquiry</h3>
    </div>
    <div class="modal-body">
        Email ID: <br><input type="email" id="Name" value="" tabindex="1"><br>
        Subject: <br><input type="text" id="Name" value="" tabindex="2"><br>
        Contact No.: <br><input type="number" id="Name" value="" tabindex="3"><br>
        Comments: <br><input type="text" id="Name" value="" tabindex="4">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
</div>