<div style="width: 100%;text-align: center">
<div>
    It is knowledge oriented social networking site.
    Founded in June 2013 and launched on Jan 1, 2014, it is mainly used for professional networking.
    where candidate and employer both can get advantage.
<br><br>
    // Tag Line

    <h1 class="ExtraLarge">Features of InterviewGully</h1>

    For Candidate<br>
    1. Share knowledge <br>
    2. Share job <br>
    3. Share thought <br>
    4. Help other <br>
    5. Take help from InterviewGully Experts while stuck<br>
    6. Interview Preparation through online test series on weekly basis.<br>
    7. Share Articles, most liked article will be available on Interview gully Magazine.<br>
    8. Provide Certification for your achievement.<br>
    9. Help you in Job referrals.<br>

    <br><br>
    For Employer<br>
    1. Help to employer to hire good candidate from InterviewGully as we do screening before referring <br>
    2. Help to employer to train their employee as required.<br>



        Our goal is to provide you better solution and information,that you won't find anywhere else online. It's easy to interview famous people but only Interviewed
    You gives you insight into real people's lives - their hopes, their dreams, their passions.
        <br>If you leave our site with a time well spent we know our job is complete. :)

</div>
    </div>