<div style="width: 100%;text-align: center">
<h1 class="ExtraLarge">We’d Love to Hear from&nbsp;You!</h1>

    <span>Our friendly Help Team can be reached Monday through Friday, from 7am <br> to 5pm, Pacific Time. Just click the button below to contact us.</span>
<br><br>
    <input type="submit" name="" ng-click="" value="Connect with Team" id="btn-submit" class="btn-action" tabindex="7" style="background-color: #f6e312;width: 200px;margin-top: 10px;">
</div>