<div style="width:100%;text-align:center;padding-top: 55px" ng-controller="trainingController">

        <div style="width:100%;text-align:left;padding-left: 20px;height: 50px;">
            <div style="width:40%;text-align:left;float:left;font-size: 2em;padding-left: 15px; height: 50px;background-color: aqua;border: 2px;border-radius: 30px 0px 0px 0px;">Java</div>
            <div style="width:30%;text-align:left;float:left;font-size: 1em;height: 50px;background-color: aqua;border: 2px;border-radius: 0px 0px 0px 0px;">
                Duration: 60 hours <br>
                Fee: 8000/-
            </div>
            <div style="width:30%;text-align:center;float:left;padding-top: 8px;padding-right: 30px;height: 50px;background-color: aqua;border: 2px;border-radius: 0px 0px 30px 0px;">
                <button style="background-color: #f6e312" ng-click="showEmailPopUp()">Enquiry</button>
            </div>
        </div>
    <br>
    <div style="width:100%;text-align:left;padding-left: 20px;height: 50px;">
        <div style="width:40%;text-align:left;float:left;font-size: 2em;padding-left: 15px; height: 50px;background-color: lightgray;border: 2px;border-radius: 30px 0px 0px 0px;">.Net</div>
        <div style="width:30%;text-align:left;float:left;font-size: 1em;height: 50px;background-color: lightgray;border: 2px;border-radius: 0px 0px 0px 0px;">
            Duration: 60 hours <br>
            Fee: 8000/-
        </div>
        <div style="width:30%;text-align:center;float:left;padding-top: 8px;padding-right: 30px;height: 50px;background-color: lightgray;border: 2px;border-radius: 0px 0px 30px 0px;">
            <button style="background-color: #f6e312" ng-click="showEmailPopUp()">Enquiry</button>
        </div>
    </div>
    <br>
    <div style="width:100%;text-align:left;padding-left: 20px;height: 50px;">
        <div style="width:40%;text-align:left;float:left;font-size: 2em;padding-left: 15px; height: 50px;background-color: aqua;border: 2px;border-radius: 30px 0px 0px 0px;">Testing</div>
        <div style="width:30%;text-align:left;float:left;font-size: 1em;height: 50px;background-color: aqua;border: 2px;border-radius: 0px 0px 0px 0px;">
            Duration: 60 hours <br>
            Fee: 8000/-
        </div>
        <div style="width:30%;text-align:center;float:left;padding-top: 8px;padding-right: 30px;height: 50px;background-color: aqua;border: 2px;border-radius: 0px 0px 30px 0px;">
            <button style="background-color: #f6e312" ng-click="showEmailPopUp()">Enquiry</button>
        </div>
    </div>
    <br>
    <div style="width:100%;text-align:left;padding-left: 20px;height: 50px;">
        <div style="width:40%;text-align:left;float:left;font-size: 2em;padding-left: 15px; height: 50px;background-color: lightgray;border: 2px;border-radius: 30px 0px 0px 0px;">AngularJS</div>
        <div style="width:30%;text-align:left;float:left;font-size: 1em;height: 50px;background-color: lightgray;border: 2px;border-radius: 0px 0px 0px 0px;">
            Duration: 60 hours <br>
            Fee: 8000/-
        </div>
        <div style="width:30%;text-align:center;float:left;padding-top: 8px;padding-right: 30px;height: 50px;background-color: lightgray;border: 2px;border-radius: 0px 0px 30px 0px;">
            <button style="background-color: #f6e312" ng-click="showEmailPopUp()">Enquiry</button>
        </div>
    </div>
    <br>
    <div style="width:100%;text-align:left;padding-left: 20px;height: 50px;">
        <div style="width:40%;text-align:left;float:left;font-size: 2em;padding-left: 15px; height: 50px;background-color: aqua;border: 2px;border-radius: 30px 0px 0px 0px;">Node.Js</div>
        <div style="width:30%;text-align:left;float:left;font-size: 1em;height: 50px;background-color: aqua;border: 2px;border-radius: 0px 0px 0px 0px;">
            Duration: 60 hours <br>
            Fee: 8000/-
        </div>
        <div style="width:30%;text-align:center;float:left;padding-top: 8px;padding-right: 30px;height: 50px;background-color: aqua;border: 2px;border-radius: 0px 0px 30px 0px;">
            <button style="background-color: #f6e312" ng-click="showEmailPopUp()">Enquiry</button>
        </div>
    </div>

</div>