﻿<div style="width:100%;text-align:left;" ng-controller="welcomeController">
<div style="width: 50%;text-align: center;float:left">
    <h3>InterViewGully helps you to connect with IT Members<br> and share Knowledge with them
        with one click<br><br><br></h3>
    <img style="width: 70%;" src="Content/Images/InterViewGullyNetwork.jpg" alt="InterViewGullyNetwork">
</div>
<div style="width: 50%;text-align: left;float:left">
    <h1> Get started – for sharing Knowledge</h1><br>
    <form name="frmRegistration" id="frmRegistration" novalidate>
    <table cellspacing="0"><tbody>
    <tr>
        <td>Name: <br><input class="regTextbox" type="text" name="FName" value="" tabindex="1" ng-model="userRegistration.firstName" validate-text-box required>
            <div ng-show="frmRegistration.FName.$error.requiredField" class="validationWindow">
                <h4>
                    required field</h4>
            </div>
        </td>
    </tr>
    <tr>
        <td>Email Id: <br><input type="text" id="EmailID" value="" tabindex="2"></td>
    </tr>
    <tr>
        <td>Password: <br><input type="text" id="Password" value="" tabindex="3"></td>
    </tr>
    <tr>
        <td>Confirm Password:<br><input type="text" id="CnfPassword" value="" tabindex="4"></td>
    </tr>
    <tr>
        <td>Current Organisation: <br><input type="text" id="Organisation" value="" tabindex="5"></td>
    </tr>
    <tr>
        <td>Country: <br><input type="text" id="Country" value="" tabindex="6"></td>
    </tr>
    <tr>
        <td>
            <input type="submit" name="" ng-click="validateForm()" value="Join now" id="btn-submit" class="btn-action" tabindex="7" style="background-color: #f6e312;width: 300px;margin-top: 10px;">
        </td>
    </tr></tbody></table>
    </form>
</div>
</div>